.buttons{
    font-family: 'roman';
    width: 25%;
    height: 30px;
    border-width: 2px;
    border-radius: 50%;
    border-color: rgb(154,154,154);
    background-color: gainsboro;
    color: rgba(0,0,0,0.7);
}

.buttons:hover{
    border-color: rgba(137, 206, 248, 0.9);
    border-width: 3px;
    background-color: rgb(240,240,240);
}

.slide{
    color: gainsboro;
    border-color: gainsboro;
    border-width: 4px;
    width: 40% - 50px;
    height: 30px;
}

.dropy{
    height: 30px;
    width: 40% - 50px;
}
